@*@model IEnumerable<Final_new1.Models.TablememberDs1101605>*@
@using PagedList
@using PagedList.Mvc

@model IPagedList<Final_new1.Models.TablememberDs1101605>

@{
    ViewBag.Title = "Index4";
}

<h2>🏐雲林Mizuno球員個人資料</h2>
<br />
<p class="navbar-right">第 @ViewBag.page4 頁，共 @ViewBag.c4 筆</p>
<div>
    <table class="table table-striped table-bordered table-hover">
        <caption><div class="glyphicon glyphicon-user"></div>球員資料</caption>
        <thead>
            <tr>
                <th>背號</th>
                <th>姓名</th>
                <th>年齡</th>
                <th>身高(cm)</th>
                <th>球齡</th>
                <th>異動</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => m.mId)</td>
                    <td>@Html.DisplayFor(x => m.mName)</td>
                    <td>@Html.DisplayFor(x => m.age)</td>
                    <td>@Html.DisplayFor(x => m.height)</td>
                    <td>@Html.DisplayFor(x => m.ballage)</td>
                    <td>
                        @Html.ActionLink("明細", "DetailsD", new { id = m.mId }, htmlAttributes: new { @class = "btn btn-info glyphicon glyphicon-paperclip", @style = "background-color:#e3c9ed" })
                        @Html.ActionLink("編輯", "EditD", new { id = m.mId }, htmlAttributes: new { @class = "btn btn-primary glyphicon glyphicon-edit", @style = "background-color:#d1c9ed" })
                        @Html.ActionLink("刪除", "DeleteD", new { id = m.mId }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">目前人數 :@ViewBag.num4 人 </td>
            </tr>
        </tfoot>
    </table>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index4", new { page }))
<p>
    @Html.ActionLink("返回首頁", "IndexTEAM", "team2", null, new { @class = "btn btn-warning glyphicon glyphicon-home", @style = "background:#d1cce0" })
    @Html.ActionLink("新增員工資料", "CreateD", null, new { @class = "btn btn-warning glyphicon glyphicon-pencil", @style = "background:#d1cce0" })
</p>

@section topCSS{
    <style>
        /*設定caption*/
        .table > caption {
            margin-top: 10px;
            background-color: #CDB6D6;
            font-size: xx-large;
        }

        /*設定thead顏色*/
        .table > thead > tr {
            color: white;
            background-color: #A263B9;
        }

        /*設定tfoot顏色及文字對齊*/
        .table > tfoot > tr {
            background-color: #A263B9;
            font-size: large;
        }

        /*設定文字對齊*/
        .table > caption, .table > thead > tr > th, .table > tfoot > tr, .table > tbody > tr > td {
            text-align: center;
        }
    </style>
}