
@{
    ViewBag.Title = "Querystart";
}

<h2>查詢</h2>
<img src="~/images/team1.jpg" alt="" width="800" />
<p>@Html.ActionLink("查詢桃園台產", "Query", "memberA", null, new { @class = "btn btn-warning" })</p>
<img src="~/images/team2.jpg" alt="" width="800"/>
<p>@Html.ActionLink("查詢屏東台電", "QueryB", "memberA", null, new { @class = "btn btn-warning" })</p>
<img src="~/images/team3.jpg" alt="" width="800" />
<p>@Html.ActionLink("查詢台中太陽神", "QueryC", "memberA", null, new { @class = "btn btn-warning" })</p>
<img src="~/images/team4.jpg" alt="" width="800" />
<p>@Html.ActionLink("查詢雲林美津濃", "QueryD", "memberA", null, new { @class = "btn btn-warning" })</p>
<img src="~/images/team5.jpg" alt="" width="800" />
<p>@Html.ActionLink("查詢conti", "QueryE", "memberA", null, new { @class = "btn btn-warning" })</p>
